<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

    <head th:fragment="header" th:id="header">

        <title>Responsive website template for documentations</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
        <link th:href="@{'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'}" rel='stylesheet' type='text/css'>
        <!-- Global CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <!-- Plugins CSS -->
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">

        <link id="theme-style" rel="stylesheet" th:href="@{/css/styles.css}" >

        <script th:src="@{'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'}" defer></script>
        <script th:src="@{'https://oss.maxcdn.com/respond/1.4.2/respond.min.js'}" defer></script>

        <script type="text/javascript" th:src="@{/assets/plugins/jquery-1.12.3.min.js}" defer></script>
        <script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}" defer></script>
        <script type="text/javascript" th:src="@{/assets/plugins/jquery-match-height/jquery.matchHeight-min.js}" defer></script>
        <script type="text/javascript" th:src="@{/assets/js/main.js}" defer></script>

        </head>
        <body>

            <div class="container-fluid">
                <div th:fragment="navbar_fragment">
                    <!--<nav th:insert="fragments/navbar.html :: navbar_fragment></nav>-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div  th:fragment="frag">
                <t1>JOPASISKIGLAZAROST</t1>
            </div>
            <footer th:fragment="footer_fragment" class="footer text-center">
                <div class="container">
                    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                    <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> for developers</small>

                </div><!--//container-->
            </footer><!--//footer-->
        </div>

    </body>
</html>