<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<!--<body>-->
<!--<div th:fragment="head">-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <!--<title>SosialService</title>-->
    <!--&lt;!&ndash;<base href="${pageContext.request.contextPath}/" />&ndash;&gt;-->
    <!--<link rel="stylesheet" th:href="@{/css/style.css}">-->
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{webjars/noty/3.1.4/demo/font-awesome/css/font-awesome.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{webjars/noty/3.1.4/lib/noty.css}">-->
    <!--<link rel="stylesheet" th:href="@{/images/icon.png}">-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="../resources/css/style.css">&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="../resources/css/bootstrap.min.css">&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="webjars/noty/3.1.4/demo/font-awesome/css/font-awesome.min.css">&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css">&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="webjars/noty/3.1.4/lib/noty.css" />&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="shortcut icon" href="resources/images/icon-meal.png">&ndash;&gt;-->

    <!--&lt;!&ndash;    <%&#45;&#45;http://stackoverflow.com/a/24070373/548473&#45;&#45;%>&ndash;&gt;-->
    <!--<script type="text/javascript" th:src="@{webjars/jquery/3.3.1-2/jquery.min.js}" defer></script>-->
    <!--<script type="text/javascript" th:src="@{webjars/datatables/1.10.19/js/jquery.dataTables.min.js}" defer></script>-->
    <!--<script type="text/javascript" th:src="@{webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}" defer></script>-->
    <!--<script type="text/javascript" th:src="@{webjars/noty/3.1.4/lib/noty.min.js}" defer></script>-->
    <!--&lt;!&ndash;<script type="text/javascript" src="webjars/jquery/3.3.1-2/jquery.min.js" defer></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js" defer></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script type="text/javascript" src="webjars/datatables/1.10.19/js/jquery.dataTables.min.js" defer></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script type="text/javascript" src="webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js" defer></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script type="text/javascript" src="webjars/noty/3.1.4/lib/noty.min.js" defer></script>&ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

    <head th:fragment="header" th:id="header">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title>SosialService</title>
            <!--<base href="${pageContext.request.contextPath}/" />-->
            <link rel="stylesheet" th:href="@{/css/style.css}">
            <link rel="stylesheet" th:href="@{/css/footer.css}">
            <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{webjars/noty/3.1.4/demo/font-awesome/css/font-awesome.min.css}">
            <link rel="stylesheet" th:href="@{webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}">
            <link rel="stylesheet" th:href="@{webjars/noty/3.1.4/lib/noty.css}">
            <link rel="stylesheet" th:href="@{/images/icon.png}">
            <!--<link rel="stylesheet" href="../resources/css/style.css">-->
            <!--<link rel="stylesheet" href="../resources/css/bootstrap.min.css">-->
            <!--<link rel="stylesheet" href="webjars/noty/3.1.4/demo/font-awesome/css/font-awesome.min.css">-->
            <!--<link rel="stylesheet" href="webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css">-->
            <!--<link rel="stylesheet" href="webjars/noty/3.1.4/lib/noty.css" />-->
            <!--<link rel="shortcut icon" href="resources/images/icon-meal.png">-->

            <!--    <%--http://stackoverflow.com/a/24070373/548473--%>-->
            <script type="text/javascript" th:src="@{webjars/jquery/3.3.1-2/jquery.min.js}" defer></script>
            <script type="text/javascript" th:src="@{webjars/datatables/1.10.19/js/jquery.dataTables.min.js}" defer></script>
            <script type="text/javascript" th:src="@{webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}" defer></script>
            <script type="text/javascript" th:src="@{webjars/noty/3.1.4/lib/noty.min.js}" defer></script>

    </head>

</html>


