<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:insert="fragments/general.html :: head"></head>

    <body>

        <header th:insert="fragments/general.html :: header"></header>

        <section th:insert="fragments/general.html :: hero"></section>
        <!--<section th:insert="fragments/general.html :: get-started"></section>-->
        <!--<section th:insert="fragments/general.html :: about-us"></section>-->
        <!--<section th:insert="fragments/general.html :: features"></section>-->
        <!--<section th:insert="fragments/general.html :: screenshots"></section>-->
        <!--<section th:insert="fragments/general.html :: video"></section>-->
        <section th:insert="fragments/general.html :: team"></section>
        <section th:insert="fragments/general.html :: testimonials"></section>
        <section th:insert="fragments/general.html :: pricing"></section>
        <!--<section th:insert="fragments/general.html :: blog"></section>-->
        <!--<section th:insert="fragments/general.html :: newsletter"></section>-->
        <section th:insert="fragments/general.html :: contact"></section>

        <footer th:insert="fragments/general.html :: footer"></footer>

        <a class="back-to-top"><i class="fa fa-chevron-up" th:href="@{#}"></i></a>

    </body>

</html>