<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:insert="fragments/general.html :: head"></head>

    <body>

        <header th:insert="fragments/general.html :: header"></header>

        <section th:insert="fragments/general.html :: hero"></section>
        <!--<section th:insert="fragments/general.html :: get-started"></section>-->
        <!--<section th:insert="fragments/general.html :: about-us"></section>-->
        <!--<section th:insert="fragments/general.html :: features"></section>-->
        <!--<section th:insert="fragments/general.html :: screenshots"></section>-->
        <!--<section th:insert="fragments/general.html :: video"></section>-->
        <section th:insert="fragments/general.html :: team"></section>
        <section th:insert="fragments/general.html :: testimonials"></section>
        <section th:insert="fragments/general.html :: pricing"></section>
        <!--<section th:insert="fragments/general.html :: blog"></section>-->
        <!--<section th:insert="fragments/general.html :: newsletter"></section>-->
        <section th:insert="fragments/general.html :: contact"></section>

        <div class="col-xl-8 col-lg-7">
            <div class="newTaskForm">
                <form th:action="@{/order}" th:method="post">
                    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input  type="hidden" value="" class="form-control" id="id" name="id"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input value="" type="text" class="form-control" id="title" name="title"/>
                                    </div>
                                    <!--<div class="form-group">-->
                                    <!--<label for="status">Status:</label>-->
                                    <!--<select id="status" class="form-control" name="status">-->
                                    <!--<option th:each="status : ${statusList}"-->
                                    <!--th:text="${status}" th:value="${status}">-->
                                    <!--</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label for="content">Content:</label>
                                        <textarea value="" class="form-control" name="content"
                                                  id="content" rows="5">
                            </textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="save"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <footer th:insert="fragments/general.html :: footer"></footer>

        <a class="back-to-top"><i class="fa fa-chevron-up" th:href="@{#}"></i></a>

    </body>

</html>